{% extends 'base.html' %}

{% block title %}
    MyCompany
{% endblock %}

{% block content %}
    <h3 class="d-flex align-items-center justify-content-center mt-5">Информация о бронировании столиков</h3> <br>
    {% for busy_table in busy_table_info %}
        <div class="card text-center">
          <div class="card-header">
            {{ busy_table.place }}
          </div>
          <div class="card-body">
            <h5 class="card-title">На {{ busy_table.size }} персоны</h5>
            <p class="card-text">Столик забронирован на имя: {{ busy_table.owner_name }} в {{ busy_table.time }}</p>
          </div>
          <div class="card-footer text-muted">
            Сегодня
          </div>
        </div>
    {% endfor %}
{% endblock %}